# Auto detect text files and perform LF normalization
* text=auto
SF/MatL2.py filter=lfs diff=lfs merge=lfs -text
SF/MatL3.py filter=lfs diff=lfs merge=lfs -text
SF/MatL4.py filter=lfs diff=lfs merge=lfs -text
